@model ResumenEmpleados

<h1>Datos oficio</h1>

<form method="post">
    <label>Oficio</label>
    <input type="text" name="oficio"/>
    <button>Buscar</button>
</form>

@if (Model != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Numero de empleados</th>
                <th>Maximo salario</th>
                <th>Media salario</th>
                <th>Empleados</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Personas</td>
                <td>@Model.MaximoSalario</td>
                <td>@Model.MediaSalario</td>
                <td>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Apellido</th>
                                <th>Salario</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var empleado in Model.Empleados)
                            {
                                <tr>
                                    <td>@empleado.Apellido</td>
                                    <td>@empleado.Salario</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    <h2>@ViewData["Mensaje"]</h2>
}
