@model List<Doctor>

@{
    List<string> especialidades = (List<string>)ViewData["ESPECIALIDADES"];
}

<h1>Doctores especialidad</h1>

<form method="post">
    <label>Introduzca especialidad</label>
    <select name="especialidad" class="form-control">
        @foreach (string espe in especialidades)
        {
            <option>@espe</option>
        }
    </select>
    <button class="btn btn-warning">Buscar doctores</button>
</form>

<table table table-bordered>
    <thead>
        <tr>
            <th>Id</th>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>Salario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Doctor doctor in Model)
        {
            <tr>
                <td>@doctor.IdDoctor</td>
                <td>@doctor.Apeliido</td>
                <td>@doctor.Especialidad</td>
                <td>@doctor.IdHospital</td>
            </tr>        
        }
    </tbody>
</table>


